## <center><font size = 12>Big-Data Education--Online Learning</font></center>

- This analysis project based on the CRISP-DM model method, the first three stages of this analysis will be:
<img src="../reports/figures/myloop.png">

## <center><font size=5>Start at Business understanding </font></center>

###### With the development of society and science,data analysing becoming more and more sophisticated and widely use. This project focus on using EDA(Exploratory Data Analysis) to find something from Cyber Security Online Course in Newcastle University by CRISP-DM model. So that the improvement will make the course, this type of education better in the future. And for the Online Course in Newcastle University  : Cyber Security, it will be well-known and everyone can get good experiences, also obtain what they want after this course.

###### <font  color=#0000FF>Background in Online Learning Newcastle:</font>
![](../reports/figures/bgs.png)

##### Tools :
* Ubuntu 16.04 system
* Git and Github for the Version Control
* Cookiecutter for the reproducable ProjectTemplate
* Python for EDA : Numpy, Pandas, Matplotlib, Plotly, Google API
* Jupyter notebook -- 'Literate Programming'
* 不要忘了这里for Sorftware Testing

#### Resource :
* Newcastle Cyber Security Online learning course Data

###### Also with the help of Dr Matthew Forshaw who is the is the Technical Advisor and Dr Claire who has rich experinces in education, we can define the data mining goals from business objectives as:

- As a international well konwn university, the course should design very well for all the students who comes from whole world, it is better for attracting more students whole world.-------------OB1
- The level of difficulty of this course should be balance and appropriate for all students in order to keep the completion and help students to understand them.-------------OB2
- The custom churn can be interpreted as students churn problem,it is very important to know the why students left this course, why they can't complete or why they don't want to continue. -------------OB3

# <center><font size=5>Data Understanding</font></center>

### Our data was collected from a online course in Newcastle University named : <font color=#0000FF>Cyber Security</font>. And the data has the  both type of  <font color=#0000FF>‘static data’ and ‘fluid data’</font>. The ‘static data’ is the data collected traditionally by some institution, they can be the all kinds of records in university. The  ‘fluid data’ is collected from daily activity like swiping the card, login to the virtual online learning classroom. There are seven Terms of this course data we have and was ordered as <font color=#0000FF>cyber-security-1 to cyber-security-7</font>, each of term means a new loop of this course. And many necessary meaningful data were recorded(We will check them later).

#### The unusual value will be processed as :

| Type | Solution |
|-|-|
|NaN for not used data|Ignore|
|Unknown in Enrolment |  Ignore and Delete|
|Unknown in question-response |Ignore and Delete|
|Unknown in leaving-response |shutdown|

* Note: The categorical data from the table can be processed, the Unknown continuouse values will be replaced by median values of this column because of the robust poperty.

In [258]:
#This is for necessary analysis dependence

import numpy as np
import squarify
from geopy.geocoders import Nominatim
import matplotlib.pyplot as plt
import plotly 
plotly.tools.set_credentials_file(username='haoran88', api_key='vrWPoiiR7GpTYytENIAB')
import pandas as pd
import sklearn
from os import listdir
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from src.data import EDA,Data_Loader
import csv
from IPython.display import display
import plotly.plotly as py
import plotly.graph_objs as go
import gmaps
import gmaps.datasets
from time import time

%matplotlib inline

#### It is necessary to check what kinds of data we have

In [254]:
#Using the Relative Path is easy to reproduce the project 
Main_Data_Path = '../Data/raw/Engagement of Cyber Serurity/dataset201819/'
data_file_name = sorted(listdir(Main_Data_Path))

In [260]:
#### Check all the data we have, check the type of data
num_times = 1
times_list = []
times_count = []
tmp_data = []
length_each = []
nameCount = []
just_count = 0

for i in range(len(data_file_name) + 1):
    
    if i >= len(data_file_name):
        times_list.append(tmp_data)
        nameCount.append('Term_'+str(num_times))
    else:
        if int(data_file_name[i][15]) != num_times:
            length_each.append(i - just_count)
            nameCount.append('Term_'+str(num_times))
            num_times += 1
            times_list.append(tmp_data)
            tmp_data = []
            just_count = i
        #print(num_times)
        tmp_data.append(data_file_name[i][17:-4])
        times_count.append('Term_'+str(num_times))
data_file = pd.DataFrame(times_list,index=nameCount)
print('Data Type Table:')
display(data_file)

Data Type Table:

,0,1,2,3,4,5,6,7
Term_1,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,weekly-sentiment-survey-responses,None,None
Term_2,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,weekly-sentiment-survey-responses,None
Term_3,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Term_4,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Term_5,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Term_6,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Term_7,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Term_8,enrolments,None,None,None,None,None,None,None

#### In my opinion, the first and second terms course can't be used for analyse, because there are many uncertainty and additional matters in the period of start of the course. Also, as the table shows the first and second terms lack some informations. So, in this project, we focus on using the data from terms <font color=#0000FF>3-7</font>.
#### All the data were recorded as a '<font color=#0000FF>.csv</font>' which  is a comma separated values file which allows data to be saved in a table structured format. It is convient for us to use tools to load and use directly without any changes of type of file.

##  <font color=FireBrick>OB 1</font>

#### For the first Objective, it can be infer that we need to use the detail of students, so as we can konw in nomal life, students will give thier personal information when they first enrolled into this course.So start from the data named 'Cyber-Security-(3-7)_enrolment.csv' .

### Check the last table above, the first thing is to check the basic details and backgrounds of students, so we check the one enrolments randomly choose term 7.

In [256]:
tNum = 7
type_file = 'enrolments'
outputPath = '../data/processed/' + 'Merged' + str(startNum) + '-' + str(endNum) + '_' + type_file + '.csv'
data_t = []
timesName = '-' + str(tNum) + '_'
fileName = '../Data/raw/Engagement of Cyber Serurity/dataset201819/cyber-security' + timesName + type_file + '.csv'
data = pd.read_csv(fileName)
data_t.append(data)

singlefile = pd.read_csv(fileName)
singlefile.head()
#mergedData.to_csv(outputPath)

,learner_id,enrolled_at,unenrolled_at,role,fully_participated_at,purchased_statement_at,gender,country,age_range,highest_education_level,employment_status,employment_area,detected_country
0,f0ebc6f6-0f25-407f-a528-834414186f59,2018-10-30 15:14:09 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB
1,0fa1c614-8a49-42a7-a02a-8b866076d552,2018-10-25 12:23:45 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB
2,a0ac585a-eb48-48a8-a34e-b981d9e7b61c,2018-10-23 09:51:07 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,IN
3,93562e76-6e81-4f8c-8e45-f209d62be693,2018-11-01 11:49:45 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB
4,d1ff90bd-b99b-40c7-a220-ddda5a06bfcd,2018-10-11 11:46:50 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,IQ

##### In this table,some column can't show us the detail of students, so we just ignore it and choose the '<font color=#0000FF>age_range</font>' ,'<font color=#0000FF>detected_country</font>'  for OB 1.

In [257]:
singlefile = singlefile[singlefile['gender'] != 'Unknown']

print('The other genders are just occupy a very little,so we do not need to consider them temporarily')
print('Proportions of the male and female tend to balance.')
print('The differences between male and female we can asuume that male have more interests in this kind of course.')

labels = ['Female','Male','Other']
values = [float(len(singlefile[singlefile['gender'] == 'female'])) / float(len(singlefile['gender'])) ,
          float(len(singlefile[singlefile['gender'] == 'male'])) / float(len(singlefile['gender'])) ,
          float(len(singlefile[singlefile['gender'] == 'other'])) / float(len(singlefile['gender']))]

trace = go.Pie(labels=labels, values=values)

py.iplot([trace], filename='basic_pie_chart')

The other genders are just occupy a very little,so we do not need to consider them temporarily
Proportions of the male and female tend to balance.
The differences between male and female we can asuume that male have more interests in this kind of course.

### <font color=#FF0000>If the number of  international  students  enrolled in this course more than one third in all the students, it is necessary to make some additional design for them, such as the subtitles in recap.</font>

In [177]:
singlefile = singlefile[singlefile['detected_country'] != 'Unknown']
country = singlefile['detected_country']

re = pd.value_counts(country)

re_vale = re.tolist()[0:20]
re_name = re.index.tolist()[0:20]
print('Chosing tweenty countries(Number of students in other countries are too small to represent) to check the Population ')



trace0 = go.Bar(
    x=re_name,
    y=re_vale,
    marker=dict(
        color='rgb(158,202,225)',
        line=dict(
            color='rgb(8,48,107)',
            width=1.5,
        )
    ),
    opacity=0.6
)

data = [trace0]
layout = go.Layout(
    title='Different Countries Students in Term 7',
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='text-hover-bar')

Chosing tweenty countries(Number of students in other countries are too small to represent) to check the Population

#### It shows that most of students come from The United Kingdom of Great Britain and Northern Ireland. Let's now move on to check the percentage of them.

In [179]:
tNum = 7
type_file = 'enrolments'
data_t = []
timesName = '-' + str(tNum) + '_'
fileName = '../Data/raw/Engagement of Cyber Serurity/dataset201819/cyber-security' + timesName + type_file + '.csv'


pie1 = pd.read_csv(fileName)
pie1 = pie1[pie1['detected_country'] != 'Unknown']
pie1 = pie1['detected_country']

re = pd.value_counts(pie1)

re_vale1 = re.tolist()[0:20]
re_name1 = re.index.tolist()[0:20]
#mergedData.to_csv(outputPath)

tNum = 6
type_file = 'enrolments'
data_t = []
timesName = '-' + str(tNum) + '_'
fileName = '../Data/raw/Engagement of Cyber Serurity/dataset201819/cyber-security' + timesName + type_file + '.csv'


pie2 = pd.read_csv(fileName)
pie2 = pie2[pie2['detected_country'] != 'Unknown']
pie2 = pie2['detected_country']

re = pd.value_counts(pie2)

re_vale2 = re.tolist()[0:20]
re_name2 = re.index.tolist()[0:20]

In [186]:
fig = {
  "data": [
    {
      "values": re_vale1,
      "labels": re_name1,
      "domain": {"x": [0, .48]},
      "name": "Term 6",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    },
    {
      "values": re_vale2,
      "labels": re_name2,
      "textposition":"inside",
      "domain": {"x": [.52, 1]},
      "name": "Term 7",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    }],
  "layout": {
        "title":"Percentage of students come from",
        "annotations": [
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "Term 6",
                "x": 0.20,
                "y": 0.5
            },
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "Term 7",
                "x": 0.8,
                "y": 0.5
            }
        ]
    }
}
py.iplot(fig, filename='donut')

#### As the pie plots show that, international students is more than 50%, so it is necessary to keep the design of teaching balance, to make all students to adapt it.

#### It is worth to use the location data to check where students come from,and design different type of teaching type. What kinds of the recap should be designed. So for the objective 1, we can use the enrollments data to analysis with later work in next Stage(Data preparations)：
- Merge enrollment data in term3 to term7
- Clean and process the unusual data
- Generate the certain location(lattitude,longitude)for each unduplicated location in our data.

##  <font color=FireBrick>OB 2</font>

######  <font color=#FF0000>For the objective of the level of difficulty, accessing coursework is the one of the most important method, check what the proportion of students who can correctly answer the questions in or out of the online lecture. If more than half of students can't make it, the level of the course or some parts of the course are inappropriate for many of students.</font>

#### Chek the Data Type Table, there are some files named 'question response',randomly chooose the term 6：

In [147]:
tNum = 6
type_file = 'question-response'
#outputPath = '../data/processed/' + 'Merged' + str(startNum) + '-' + str(endNum) + '_' + type_file + '.csv'
data_t = []
timesName = '-' + str(tNum) + '_'
fileName = '../Data/raw/Engagement of Cyber Serurity/dataset201819/cyber-security' + timesName + type_file + '.csv'
data = pd.read_csv(fileName)
data_t.append(data)

singlefile = pd.read_csv(fileName)
singlefile.head()
#mergedData.to_csv(outputPath)

,learner_id,quiz_question,question_type,week_number,step_number,question_number,response,cloze_response,submitted_at,correct
0,3f5389d8-4b4d-43af-904e-cc32946a4845,1.8.1,MultipleChoice,1,8,1,"1,2,3",NaN,2018-06-11 01:18:29 UTC,True
1,6ffbff85-fe97-4fee-994d-17a32bdf867c,1.8.1,MultipleChoice,1,8,1,"1,2,3",NaN,2018-06-11 01:47:45 UTC,True
2,b89dd8da-585e-4b2c-953b-c6d475e07099,1.8.1,MultipleChoice,1,8,1,3,NaN,2018-06-11 03:17:42 UTC,False
3,b89dd8da-585e-4b2c-953b-c6d475e07099,1.8.1,MultipleChoice,1,8,1,"2,3",NaN,2018-06-11 03:17:45 UTC,False
4,b89dd8da-585e-4b2c-953b-c6d475e07099,1.8.1,MultipleChoice,1,8,1,"1,2,3",NaN,2018-06-11 03:17:47 UTC,True

#### There is a column named 'correct ',it can show if students can answer the questions correctly, so that if the performance is good, it can be assumed that the difficulty of the course is appropriate,but if the number of worng answer is obviouse big in any question, for example almost more than  half students failed to answer, the director should consider the level of difficulty or if teachers presented an appropriate lectures.

In [161]:
print(type(singlefile['correct'][1]))
numF = len(singlefile[singlefile['correct'] == False])
numT = len(singlefile[singlefile['correct'] == True])

print(numF)
print(numT)
print(len(pd.unique(singlefile['quiz_question'])))

question = pd.unique(singlefile['quiz_question'])

print(question)

WrongAnswer = []

choose_tmp = singlefile[singlefile['correct'] == False]

for i in question:
    WrongAnswer.append(len(choose_tmp[choose_tmp['quiz_question'] == i]))
    
print(WrongAnswer)

<class 'numpy.bool_'>
4486
6047
22
['1.8.1' '1.8.2' '1.8.3' '1.8.4' '1.8.5' '1.8.6' '2.8.1' '2.8.2' '2.8.3'
 '2.20.1' '3.11.1' '3.11.2' '3.11.3' '3.18.1' '3.18.2' '3.18.3' '3.18.4'
 '3.18.5' '3.18.6' '3.18.7' '3.18.8' '3.18.9']
[528, 313, 560, 74, 0, 658, 374, 269, 343, 90, 377, 188, 506, 44, 1, 29, 7, 19, 24, 15, 21, 46]

In [167]:
# Create traces
trace0 = go.Scatter(
    x = question,
    y = WrongAnswer,
    mode = 'lines+markers',
    name = 'lines+markers'
)
data = [trace0]

py.iplot(data, filename='line-mode')

#### As the line chart shows that, at the last stage(chapter 3), the performance of students are very good, very small number of people make wrong answers, but at the '1.8.6', there are large number of people make wrong answers, with checking the official websites of the course, we can infer that because the issue of home is common, so everyone has the experince. so they can answer correctly. But different countries have different cultures, so it is a bit  abstract concept., teacher may need to give more examples here.

#### For the later work, data can be processed in next Stage(Data preparations) as:
- extract the column we need as a new '.csv' file

##  <font color=FireBrick>OB 3</font>

#### <font color=#FF0000>The 'csv' data file named leaving-survey-responses recorded the time and reason that students left.It is very useful if more than one third students left because of the same reason,or if a reason that has a big proportion,so the director of this course should focus on improving it in this kind of aspect.</font>

In [192]:
tNum = 6
type_file = 'leaving-survey-responses'
#outputPath = '../data/processed/' + 'Merged' + str(startNum) + '-' + str(endNum) + '_' + type_file + '.csv'
data_t = []
timesName = '-' + str(tNum) + '_'
fileName = '../Data/raw/Engagement of Cyber Serurity/dataset201819/cyber-security' + timesName + type_file + '.csv'


singlefile = pd.read_csv(fileName)
singlefile.head()
#mergedData.to_csv(outputPath)

,id,learner_id,left_at,leaving_reason,last_completed_step_at,last_completed_step,last_completed_week_number,last_completed_step_number
0,110338,9f172f7a-74fa-4e6a-991a-cad1aedbce41,2018-04-20 12:12:05 UTC,Other,NaN,NaN,NaN,NaN
1,120486,353eaf1b-cff8-4d9c-98d4-b9a736c17e73,2018-05-09 03:54:35 UTC,The course required more time than I realised,2018-07-15 16:53:37 UTC,3.2,3.0,20.0
2,125315,8c4eee40-70ae-45ef-ab61-cdf2832328b1,2018-05-18 09:10:38 UTC,I don’t have enough time,NaN,NaN,NaN,NaN
3,126064,c1c34f22-2e36-4fb5-9295-3a92f5f94350,2018-05-20 12:15:19 UTC,I prefer not to say,NaN,NaN,NaN,NaN
4,126988,798f378b-858d-44ac-a254-0846625dc7e9,2018-05-21 17:54:05 UTC,Other,NaN,NaN,NaN,NaN

#### I think the director will be interested in why the students want to leave the course, it is the very important feedback from student to improve the course in the future.Then we check the column named 'leaving-reason' ：

In [249]:
reasons = pd.unique(singlefile['leaving_reason'])

reasons = reasons.tolist()
re_va = []

for i in reasons:
    re_va.append(len(singlefile[singlefile['leaving_reason'] == i]))

a = dict(zip(reasons,re_va))

b = list(range(int((1/5) * max(re_va))))

for i in reasons:
    if a[i] in b:
        a.pop(i)
        
reasons = list(a.keys())
re_va = list(a.values())

In [250]:
x = 0.
y = 0.
width = 100.
height = 100.

values = re_va

normed = squarify.normalize_sizes(values, width, height)
rects = squarify.squarify(normed, x, y, width, height)

# Choose colors from http://colorbrewer2.org/ under "Export"
color_brewer = ['rgb(166,206,227)','rgb(31,120,180)','rgb(178,223,138)',
                'rgb(51,160,44)','rgb(251,154,153)','rgb(227,26,28)']
shapes = []
annotations = []
counter = 0

for r in rects:
    shapes.append( 
        dict(
            type = 'rect', 
            x0 = r['x'], 
            y0 = r['y'], 
            x1 = r['x']+r['dx'], 
            y1 = r['y']+r['dy'],
            line = dict( width = 2 ),
            fillcolor = color_brewer[counter]
        ) 
    )
    annotations.append(
        dict(
            x = r['x']+(r['dx']/2),
            y = r['y']+(r['dy']/2),
            text = reasons[counter],
            showarrow = False
        )
    )
    counter = counter + 1
    if counter >= len(color_brewer):
        counter = 0

# For hover text
trace0 = go.Scatter(
    x = [ r['x']+(r['dx']/2) for r in rects ], 
    y = [ r['y']+(r['dy']/2) for r in rects ],
    text = [ str(v) for v in reasons ], 
    mode = 'text',
)
        
layout = dict(
    height=950, 
    width=950,
    xaxis=dict(showgrid=False,zeroline=False),
    yaxis=dict(showgrid=False,zeroline=False),
    shapes=shapes,
    annotations=annotations,
    hovermode='closest'
)

# With hovertext
figure = dict(data=[trace0], layout=layout)

# Without hovertext
# figure = dict(data=[Scatter()], layout=layout)

py.iplot(figure, filename='squarify-treemap')

#### For the 'Other' reason it can be just ignored,because of lots of uncertainty. And check the big percentage reasons, we can know the main reson is that students has different identities. Most of them maybe the part time,so they don't have enough time to watch it. So I think teachers can not only make some recap video, but also make some brief notes and highlight the key contents.For the pink area, we can make some questionaire or the video meeting to understand students.

#### For the later work, data can be processed in next Stage(Data preparations) as:
- For the single file, the 'last_completed_step' column has many NaN missing values,so combine all 'leaving-response' data file to get enough data to check

# <center><font size=5>Data Preparations</font></center>

##  <font color=FireBrick>OB 1</font>

- Merge all the 'enrolment' data

In [29]:
startNum = 3
endNum = 7
type_file = 'enrolments'
outputPath = '../data/processed/' + 'Merged' + str(startNum) + '-' + str(endNum) + '_' + type_file + '.csv'
data_t = []
for i in range(startNum,endNum+1):
    timesName = '-' + str(i) + '_'
    fileName = '../data/raw/Engagement of Cyber Serurity/dataset201819/cyber-security' + timesName + type_file + '.csv'
    data = pd.read_csv(fileName)
    data_t.append(data)

mergedData = pd.concat(data_t)
print(mergedData.shape)
mergedData.info()
#mergedData.to_csv(outputPath)

(16414, 13)

,learner_id,enrolled_at,unenrolled_at,role,fully_participated_at,purchased_statement_at,gender,country,age_range,highest_education_level,employment_status,employment_area,detected_country
0,1f5166ea-1e6c-49b5-80c9-244ca3eddb81,2017-09-14 14:00:06 UTC,2018-10-30 15:07:29 UTC,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB
1,1154e656-d664-469e-a492-0c4aa83dbd2d,2017-10-14 01:59:05 UTC,2018-10-22 03:36:55 UTC,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GH
2,455709fb-7441-476b-a7b3-675eb9761033,2017-09-24 13:18:40 UTC,2018-10-16 16:34:03 UTC,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB
3,2f8932ed-0f77-4547-b13d-ad181887d71f,2017-10-19 21:21:41 UTC,2018-10-14 18:22:36 UTC,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB
4,7f57e1b0-98ea-4077-abae-c501fcfabde9,2017-08-08 06:51:37 UTC,2018-10-08 20:38:28 UTC,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB

- Generate new country file for finding location and lattitude

- Clean the unknown data

#### Also, for the business demands, I think we can directly use the Real_Heat_Map Plot with google API to see the situations like:

In [3]:
merged_enrolment = pd.read_csv('../data/processed/Merged3-7_enrolments.csv' )
locs = pd.read_csv('../data/external/Country-locations.csv')
country_locs = pd.read_csv('../data/processed/Detected_Country_157.csv')
country_locs = np.array(country_locs)
country_locs = country_locs.tolist()
tmp = []
for i in country_locs:
    tmp.append(str(i[0]))
    
locs = np.array(locs)
locs = locs.tolist()
locations = []
for i in range(len(locs)):
    del locs[i][0]

for i in merged_enrolment['detected_country']:
    if i not in tmp:
        pass
    else:
        locations.append(locs[tmp.index(i)])

In [27]:
gmaps.configure(api_key="AIzaSyB2DKOMtZVdPBThMcJyWZhnyTvdrn_HuRo") # Your Google API key

# load a Numpy array of (latitude, longitude) pairs
#locations = gmaps.datasets.load_dataset("taxi_rides")
print('Alomost half of students come from European,and many of others are from Asia and South America')
print('Also, the proportions of the not english speaking country is big enough, and for the students better experience, it is necessary to give some subtitles for these major area of students ')
fig = gmaps.figure()

fig.add_layer(gmaps.heatmap_layer(locations,max_intensity=20, point_radius=9.0))

fig

Alomost half of students come from European,and many of others are from Asia and South America
Also, the proportions of the not english speaking country is big enough, and for the students better experien-ce, it is necessary to give some subtitles for these major area of students

Figure(layout=FigureLayout(height='420px'))

In [ ]:
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np
from time import sleep,ctime

data = pd.read_csv('../data/processed/' +'Detected_Country' + '_157' + '.csv')
lat = []
lon = []
count = 0
for i in data['Country']:
    print(count)
    print ("Start : %s" % ctime())
    count += 1
    print('Locate the Country' + i)
    geolocator = Nominatim(user_agent="asd")
    location = geolocator.geocode(str(i))
    lat.append(str(location.latitude))
    lon.append(str(location.longitude))
    sleep(60)
    print ("End : %s" % ctime())
    
locations = []
for i in range(len(lat)):
    locations.append((lat[i],lon[i]))
lcts = pd.DataFrame(locations)
lcts.to_csv('../data/external/Country-locations.csv')

##  <font color=FireBrick>OB 2</font>

- Extract the data we use and generate new data file

##  <font color=FireBrick>OB 3</font>

- Combine all the data

- Clean the NaN

#### Merge

In [81]:
startNum = 3
endNum = 7
type_file = 'enrolments'
first = True
outputPath = '../data/processed/' + 'Merged' + str(startNum) + '-' + str(endNum) + '_' + type_file + '.csv'
data_t = []
for i in range(startNum,endNum+1):
    print(i)
    timesName = '-' + str(t) + '_'
    fileName = '../data/raw/Engagement of Cyber Serurity/dataset201819/cyber-security' + timesName + type_file + '.csv'
    data = pd.read_csv(fileName)
    data_t.append(data)

mergedData = pd.concat(data_t)
mergedData.to_csv(outputPath)

3
4
5
6
7