## CSC8631 : Data Management and Explore Data Analysis---------Online Learning

- This analysis project based on the CRISP-DM model method, the first three stages of this analysis will be:
<center><img src="https://github.com/haoranD/CRISP-DM-PYTHON/blob/master/notebooks/myloop.png?raw=true" width="350" height="300" align="center"/></center>

## <center><font size=5>Start at Business understanding </font></center>

###### With the development of society and science,data analysing becoming more and more sophisticated and widely use. This project focus on using EDA(Exploratory Data Analysis) to find something from Cyber Security Online Course in Newcastle University by CRISP-DM model. So that the improvement will make the course, this type of education better in the future. And for the Online Course in Newcastle University  : Cyber Security, it will be well-known and everyone can get good experiences, also obtain what they want after this course.

###### All the information comes from Newcastle University Online Course, so first of all, background in Online Learning Newcastle:

<center><img src="https://github.com/haoranD/CRISP-DM-PYTHON/blob/master/notebooks/bgs.png?raw=true" width="1000" height="100" align="center"/></center>

#### Also, online course learing have oppotunity to increase the income of university.Related to recently development of education, online learning is becoming more and more popular, many people will choose the online learning course,it is flexible time choosing and high quanlity education from top university.

###### So with the help of Dr Matthew Forshaw who is the is the Technical Advisor and Dr Claire who has rich experinces in education, we can define the attainable data mining goals from business objectives as:

- As a international well konwn university, the course should design very well for all the students who comes from whole world, it is better for attracting more students whole world.-------------OB1
- The level of difficulty of this course should be balance and appropriate for all students in order to keep the completion and help students to understand them.-------------OB2
- The custom churn can be interpreted as students churn problem,it is very important to know the why students left this course, why they can't complete or why they don't want to continue. -------------OB3


##### In this project, we use some data analysis technology to get well knows of this course in Newcastle, and at the final, we can successfuly get some summary and give some excellent advises to director to make this course better than before so it will attract more people and obtain the good reputation, also the income can be 1.5 times higer than before.  This will be test in next terms of this course.

##### Tools :
* Ubuntu 16.04 system
* Git and Github for the Version Control
* Cookiecutter for the reproducable ProjectTemplate
* Python for EDA : Numpy, Pandas, Matplotlib, Plotly, Google API
* Jupyter notebook -- 'Literate Programming'
* Pytest framework for Sorftware Testing

#### Resource :
* Newcastle Cyber Security Online learning course Data

#### Note : Data comes from last 7 terms of this course and some specific information of students will not be included, and the deadline is 23th Nov 2018, also during and after this analysising, information will be protected.

#### For this period, this project just focus on the first three parts of analysis, and for the later stage, it demands some good PC to analysis or will cost plenty of time. And the results can be implement timely in recently next term.

<center><img src="https://github.com/haoranD/CRISP-DM-PYTHON/blob/master/notebooks/plan.png?raw=true" width="1000" height="100" align="center"/></center>

# <center><font size=5>Data Understanding</font></center>

### Our data was collected from a online course in Newcastle University named :Cyber Security. And the data has the  both type of  ‘static data’ and ‘fluid data’. The ‘static data’ is the data collected traditionally by some institution, they can be the all kinds of records in university. The  ‘fluid data’ is collected from daily activity like swiping the card, login to the virtual online learning classroom. There are seven Terms of this course data we have and was ordered as cyber-security-1 to cyber-security-7, each of term means a new loop of this course. And many necessary meaningful data were recorded(We will check them later).

#### Randomly choose some data file, and check them in excel,there are many 'Unknown' and 'NaN', they will influence our data analysis, so the unusual value will be processed as :

| Type | Solution |
|-|-|
|NaN for not used data|Ignore|
|Unknown in Enrolment |  Ignore and Delete|
|Unknown in question-response |Ignore|
|Unknown in leaving-response |Delete after merged|

* Note: The categorical data from the table can be processed, the Unknown continuouse values will be replaced by median values of this column because of the robust poperty.And why some unusual value were just ignore because we won't use them.

#### It is necessary to import some analysis package

In [1]:
#This is for necessary analysis dependence
import numpy as np
import squarify
from geopy.geocoders import Nominatim
import matplotlib.pyplot as plt
import plotly 
plotly.tools.set_credentials_file(username='haoran88', api_key='o8i3aa8qgpoIpCOBQgt8')
import pandas as pd
import sklearn
from os import listdir
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
import csv
from IPython.display import display
import plotly.plotly as py
import plotly.graph_objs as go
import gmaps
import gmaps.datasets
from time import time

%matplotlib inline

In [2]:
from IPython.display import display_html
display_html("""
<div style="text-align:center; margin: 20px 0;">
<p style="color:#FA5882;text-align:center; margin: 10px 0 20px 0;">
If you don't want to see the code click here<br/>
Just show you the results
</p>
<button onclick="$('.input, .prompt, .output_stderr, .output_error').toggle();">hide code</button>
<hr/>
</div>
""", raw=True)

In [3]:
#Using the Relative Path is easy to reproduce the project 
Main_Data_Path = '../Data/raw/Engagement of Cyber Serurity/dataset201819/'
data_file_name = sorted(listdir(Main_Data_Path))

Find the location of our codes

In [4]:
cd ../src

/home/haoran/DMEDA/CRISP-DM-PYTHON/src

In [5]:
#Import the data understanding code
import data.Data_Check as read
print('Data Type Table:')
read.All_Kinds_Data(data_file_name)

Successfully import all the necessary packages
Successfully import all the necessary packages
Data Type Table:

,0,1,2,3,4,5,6,7
Term_1,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,weekly-sentiment-survey-responses,None,None
Term_2,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,weekly-sentiment-survey-responses,None
Term_3,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Term_4,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Term_5,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Term_6,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Term_7,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses

#### In my opinion, the first and second terms course can't be used for analyse, because there are many uncertainty and additional matters in the period of start of the course. Also, as the table shows the first and second terms lack some informations. So, in this project, we focus on using the data from terms 3-7.
#### All the data were recorded as a '.csv' which  is a comma separated values file which allows data to be saved in a table structured format. It is convient for us to use tools to load and use directly without any changes of type of file.

# ----->OB 1

#### For the first Objective, it can be infer that we need to use the detail of students, so as we can konw in nomal life, students will give thier personal information when they first enrolled into this course.So start from the data named 'Cyber-Security-(3-7)_enrolment.csv' .

### Check the last table above, the first thing is to check the basic details and backgrounds of students, so we check the one enrolments randomly choose term 7.

In [7]:
tNum = 7
type_file = 'enrolments'
single_enrlm = read.Load_single_file(tNum, type_file)
print(single_enrlm.shape)
single_enrlm.head()

(2342, 13)

,learner_id,enrolled_at,unenrolled_at,role,fully_participated_at,purchased_statement_at,gender,country,age_range,highest_education_level,employment_status,employment_area,detected_country
0,f0ebc6f6-0f25-407f-a528-834414186f59,2018-10-30 15:14:09 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB
1,0fa1c614-8a49-42a7-a02a-8b866076d552,2018-10-25 12:23:45 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB
2,a0ac585a-eb48-48a8-a34e-b981d9e7b61c,2018-10-23 09:51:07 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,IN
3,93562e76-6e81-4f8c-8e45-f209d62be693,2018-11-01 11:49:45 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB
4,d1ff90bd-b99b-40c7-a220-ddda5a06bfcd,2018-10-11 11:46:50 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,IQ

##### In this table,some column can't show us the detail of students, so we just ignore it and choose the 'age_range' ,'detected_country'  for OB 1.

In [8]:
import visualization.visualize as vis

Successfully import all the necessary packages

In [9]:
labels,values = vis.gender_pie(single_enrlm)
trace = go.Pie(labels=labels, values=values)
py.iplot([trace], filename='basic_pie_chart')

The other genders are just occupy a very little,so we do not need to consider them temporarily
Proportions of the male and female tend to balance.
The differences between male and female we can asuume that male have more interests in this kind of course.

### If the number of  international  students  enrolled in this course more than one third in all the students, it is necessary to make some additional design for them, such as the subtitles in recap

In [60]:
re_name,re_vale = vis.country_bar(single_enrlm)
print('Chosing tweenty countries(Number of students in other countries are too small to represent) to check the Population ')

trace0 = go.Bar(
    x=re_name,
    y=re_vale,
    marker=dict(
        color='rgb(158,202,225)',
        line=dict(
            color='rgb(8,48,107)',
            width=1.5,
        )
    ),
    opacity=0.6
)

data = [trace0]
layout = go.Layout(
    title='Different Countries Students in Term 7',
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='text-hover-bar')

Chosing tweenty countries(Number of students in other countries are too small to represent) to check the Population

#### It shows that most of students come from The United Kingdom of Great Britain and Northern Ireland. Let's now move on to check the percentage of them.

In [61]:
tNum = 6
type_file = 'enrolments'
single_enrlm2 = read.Load_single_file(tNum, type_file)
re_name6,re_value6,re_name7,re_value7 = vis.country_pie(single_enrlm2, single_enrlm)

fig = {
  "data": [
    {
      "values": re_value6,
      "labels": re_name6,
      "domain": {"x": [0, .48]},
      "name": "Term 6",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    },
    {
      "values": re_value7,
      "labels": re_name7,
      "textposition":"inside",
      "domain": {"x": [.52, 1]},
      "name": "Term 7",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    }],
  "layout": {
        "title":"Percentage of students come from",
        "annotations": [
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "Term 6",
                "x": 0.20,
                "y": 0.5
            },
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "Term 7",
                "x": 0.8,
                "y": 0.5
            }
        ]
    }
}
py.iplot(fig, filename='donut')

#### As the pie plots show that, international students is more than 50%, so it is necessary to keep the design of teaching balance, to make all students to adapt it.

#### It is worth to use the location data to check where students come from,and design different type of teaching type. What kinds of the recap should be designed. So for the objective 1, we can use the enrollments data to analysis with later work in next Stage(Data preparations)：
- Merge enrollment data in term3 to term7
- Clean and process the unusual data
- Generate the certain location(lattitude,longitude)for each unduplicated location in our data.

# ----->OB 2

######  For the objective of the level of difficulty, accessing coursework is the one of the most important method, check what the proportion of students who can correctly answer the questions in or out of the online lecture. If more than half of students can't make it, the level of the course or some parts of the course are inappropriate for many of students.

#### Chek the Data Type Table, there are some files named 'question response',randomly chooose the term 6：

In [46]:
tNum = 6
type_file = 'question-response'
single_question = read.Load_single_file(tNum, type_file)
print(single_question.shape)
single_question.head()

(10533, 10)

,learner_id,quiz_question,question_type,week_number,step_number,question_number,response,cloze_response,submitted_at,correct
0,3f5389d8-4b4d-43af-904e-cc32946a4845,1.8.1,MultipleChoice,1,8,1,"1,2,3",NaN,2018-06-11 01:18:29 UTC,True
1,6ffbff85-fe97-4fee-994d-17a32bdf867c,1.8.1,MultipleChoice,1,8,1,"1,2,3",NaN,2018-06-11 01:47:45 UTC,True
2,b89dd8da-585e-4b2c-953b-c6d475e07099,1.8.1,MultipleChoice,1,8,1,3,NaN,2018-06-11 03:17:42 UTC,False
3,b89dd8da-585e-4b2c-953b-c6d475e07099,1.8.1,MultipleChoice,1,8,1,"2,3",NaN,2018-06-11 03:17:45 UTC,False
4,b89dd8da-585e-4b2c-953b-c6d475e07099,1.8.1,MultipleChoice,1,8,1,"1,2,3",NaN,2018-06-11 03:17:47 UTC,True

#### There is a column named 'correct ',it can show if students can answer the questions correctly, so that if the performance is good, it can be assumed that the difficulty of the course is appropriate,but if the number of worng answer is obviouse big in any question, for example almost more than  half students failed to answer, the director should consider the level of difficulty or if teachers presented an appropriate lectures.

In [47]:
question, WrongAnswer = vis.answer_line(single_question)
# Create traces
trace0 = go.Scatter(
    x = question,
    y = WrongAnswer,
    mode = 'lines+markers',
    name = 'lines+markers'
)
data = [trace0]
py.iplot(data, filename='line-mode')

#### As the line chart shows that, at the last stage(chapter 3), the performance of students are very good, very small number of people make wrong answers, but at the '1.8.6', there are large number of people make wrong answers, with checking the official websites of the course, we can infer that because the issue of home is common, so everyone has the experince. so they can answer correctly. But different countries have different cultures, so it is a bit  abstract concept., teacher may need to give more examples here.

#### For the later work, data can be processed in next Stage(Data preparations) as:
- Extract the column we need as a new '.csv' file
- Transform necessary fields to numeric values

# ----->OB 3

#### The 'csv' data file named leaving-survey-responses recorded the time and reason that students left.It is very useful if more than one third students left because of the same reason,or if a reason that has a big proportion,so the director of this course should focus on improving it in this kind of aspect.

In [11]:
tNum = 6
type_file = 'leaving-survey-responses'
single_leaving = read.Load_single_file(tNum, type_file)
single_leaving.head()

,id,learner_id,left_at,leaving_reason,last_completed_step_at,last_completed_step,last_completed_week_number,last_completed_step_number
0,110338,9f172f7a-74fa-4e6a-991a-cad1aedbce41,2018-04-20 12:12:05 UTC,Other,NaN,NaN,NaN,NaN
1,120486,353eaf1b-cff8-4d9c-98d4-b9a736c17e73,2018-05-09 03:54:35 UTC,The course required more time than I realised,2018-07-15 16:53:37 UTC,3.2,3.0,20.0
2,125315,8c4eee40-70ae-45ef-ab61-cdf2832328b1,2018-05-18 09:10:38 UTC,I don’t have enough time,NaN,NaN,NaN,NaN
3,126064,c1c34f22-2e36-4fb5-9295-3a92f5f94350,2018-05-20 12:15:19 UTC,I prefer not to say,NaN,NaN,NaN,NaN
4,126988,798f378b-858d-44ac-a254-0846625dc7e9,2018-05-21 17:54:05 UTC,Other,NaN,NaN,NaN,NaN

#### I think the director will be interested in why the students want to leave the course, it is the very important feedback from student to improve the course in the future.Then we check the column named 'leaving-reason' ：

In [12]:
reasons, re_va = vis.Treemap(single_leaving)

In [13]:
x = 0.
y = 0.
width = 100.
height = 100.

values = re_va

normed = squarify.normalize_sizes(values, width, height)
rects = squarify.squarify(normed, x, y, width, height)

# Choose colors from http://colorbrewer2.org/ under "Export"
color_brewer = ['rgb(166,206,227)','rgb(31,120,180)','rgb(178,223,138)',
                'rgb(51,160,44)','rgb(251,154,153)','rgb(227,26,28)']
shapes = []
annotations = []
counter = 0

for r in rects:
    shapes.append( 
        dict(
            type = 'rect', 
            x0 = r['x'], 
            y0 = r['y'], 
            x1 = r['x']+r['dx'], 
            y1 = r['y']+r['dy'],
            line = dict( width = 2 ),
            fillcolor = color_brewer[counter]
        ) 
    )
    annotations.append(
        dict(
            x = r['x']+(r['dx']/2),
            y = r['y']+(r['dy']/2),
            text = reasons[counter],
            showarrow = False
        )
    )
    counter = counter + 1
    if counter >= len(color_brewer):
        counter = 0
# For hover text
trace0 = go.Scatter(
    x = [ r['x']+(r['dx']/2) for r in rects ], 
    y = [ r['y']+(r['dy']/2) for r in rects ],
    text = [ str(v) for v in reasons ], 
    mode = 'text',
)
layout = dict(
    height=500, 
    width=950,
    xaxis=dict(showgrid=False,zeroline=False),
    yaxis=dict(showgrid=False,zeroline=False),
    shapes=shapes,
    annotations=annotations,
    hovermode='closest'
)

figure = dict(data=[trace0], layout=layout)
py.iplot(figure, filename='squarify-treemap')

#### For the 'Other' reason it can be just ignored,because of lots of uncertainty. And check the big percentage reasons, we can know the main reson is that students has different identities. Most of them maybe the part time,so they don't have enough time to watch it. So I think teachers can not only make some recap video, but also make some brief notes and highlight the key contents.For the pink area, we can make some questionaire or the video meeting to understand students.

#### After this, it is necessary to check that if there any step of this course is obviousely inappropriate which made students leave.For the later work, data can be processed in next Stage(Data preparations) as:
- For the single file, the 'last_completed_step' column has many NaN missing values,so combine term3 to term 7 'leaving-response' data file to get enough data to check later

# <center><font size=5>Data Preparations</font></center>

# ----->OB 1

- Merge all the 'enrolment' data 需要把merge改为combine或者concact

In [7]:
import data.Data_Preparation as pp

Successfully import all the necessary packages
Successfully import all the necessary packages

In [15]:
startNum = 3
endNum = 7
type_file = 'enrolments'

mergedData = pp.Merge_Data(startNum, endNum, type_file)
mergedData.info()

Successfully Combined
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16414 entries, 0 to 2341
Data columns (total 13 columns):
learner_id                 16414 non-null object
enrolled_at                16414 non-null object
unenrolled_at              1779 non-null object
role                       16414 non-null object
fully_participated_at      318 non-null object
purchased_statement_at     167 non-null object
gender                     16414 non-null object
country                    16412 non-null object
age_range                  16414 non-null object
highest_education_level    16414 non-null object
employment_status          16414 non-null object
employment_area            16414 non-null object
detected_country           16406 non-null object
dtypes: object(13)
memory usage: 1.8+ MB

- Clean the unknown data

In [64]:
merged_enrolment = pd.read_csv('../Data/processed/Merged3-7_enrolments.csv' )
cty = merged_enrolment['detected_country']
cty = cty.unique()
cty = pd.DataFrame(cty)
cty = cty[cty[0] != '--']
cty.columns=['country']
outputPath = '../Data/processed/' +'Detected_Country_' + str(len(cty)) + '.csv'
cty.to_csv(outputPath)

- Generate new country file for finding location and lattitude

### *****Be careful this step*it will cost lots of time to get real lattitude and longitude from google

In [ ]:
# Be careful, this will cost 5 hours
pp.Get_Loc()

#### Then we can get the certain lattitude and longitude for each students

In [9]:
locations = pp.all_loc()

#### Then we can use the heatmap to check the new data

- Check the map in jupyter book and can play it

In [10]:
gmaps.configure(api_key="AIzaSyB2DKOMtZVdPBThMcJyWZhnyTvdrn_HuRo") # Your Google API key
print('Alomost half of students come from European,and many of others are from Asia and South America')
print('Also, the proportions of the not english speaking country is big enough, and for the students better experience, it is necessary to give some subtitles for these major area of students ')
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations,max_intensity=20, point_radius=9.0))
fig

Alomost half of students come from European,and many of others are from Asia and South America
Also, the proportions of the not english speaking country is big enough, and for the students better experience, it is necessary to give some subtitles for these major area of students

Figure(layout=FigureLayout(height='420px'))

# ----->OB 2

- Extract the data we use and generate new data file

In [19]:
data_type = 'question-response'
extract_name = ['quiz_question', 'correct']
term = 7
ifMerge = False

extracted_new = pp.extract_data(data_type, extract_name,  term, ifMerge)
extracted_new.head()

  quiz_question  correct
0         1.8.1     True
1         1.8.1    False
2         1.8.1    False
3         1.8.1     True
4         1.8.1    False

- Labelling

In [21]:
#Change the text categorical to numerical categorical, for later modelling
label_line = pd.Categorical(extracted_new['correct']).codes
extracted_new['correct_label'] = label_line.tolist()
extracted_new.to_csv('../Data/processed/extracted-' + str(term) + '-' + data_type + '.csv')
extracted_new.head()

  quiz_question  correct  correct_label
0         1.8.1     True              1
1         1.8.1    False              0
2         1.8.1    False              0
3         1.8.1     True              1
4         1.8.1    False              0

# ----->OB 3

- Combine all the data

In [22]:
startNum = 3
endNum = 7
type_file = 'leaving-survey-responses'

mergedData = pp.Merge_Data(startNum, endNum, type_file)
print(mergedData.shape)
mergedData.head()

Successfully Combined
(403, 8)

,id,learner_id,left_at,leaving_reason,last_completed_step_at,last_completed_step,last_completed_week_number,last_completed_step_number
0,212,cbeff0e9-104a-4b4e-ab8d-0e9d4a73f02e,2017-11-24 16:05:42 UTC,I don’t have enough time,NaN,NaN,NaN,NaN
1,747,7f52aeb2-68b1-4d89-b167-d6b5a104138b,2017-11-25 10:52:20 UTC,I prefer not to say,2017-11-25 10:45:28 UTC,3.20,3.0,20.0
2,785,a153788d-39f2-40f1-a360-ab944ee612bb,2017-11-25 12:33:05 UTC,I don’t have enough time,NaN,NaN,NaN,NaN
3,2831,5cbc8827-23de-415c-aa41-b3f2c9f28c0f,2017-11-27 17:51:03 UTC,The course wasn’t what I expected,2017-11-20 18:01:15 UTC,1.16,1.0,16.0
4,2948,efbd0ec1-d3f2-490f-9a21-b423ff9e4e93,2017-11-27 20:01:27 UTC,I don’t have enough time,NaN,NaN,NaN,NaN

- Clean the NaN

In [23]:
mergedData = mergedData[mergedData['last_completed_step'].notnull()]
mergedData.head()

,id,learner_id,left_at,leaving_reason,last_completed_step_at,last_completed_step,last_completed_week_number,last_completed_step_number
1,747,7f52aeb2-68b1-4d89-b167-d6b5a104138b,2017-11-25 10:52:20 UTC,I prefer not to say,2017-11-25 10:45:28 UTC,3.20,3.0,20.0
3,2831,5cbc8827-23de-415c-aa41-b3f2c9f28c0f,2017-11-27 17:51:03 UTC,The course wasn’t what I expected,2017-11-20 18:01:15 UTC,1.16,1.0,16.0
6,5010,173449ed-285f-4b8c-8459-e270fd14eb5d,2017-11-29 18:00:23 UTC,Other,2017-11-29 17:57:41 UTC,3.20,3.0,20.0
7,5012,f5cb04e7-e09a-4cce-8f28-4a04b203f27a,2017-11-29 18:02:17 UTC,The course won’t help me reach my goals,2017-11-28 21:01:21 UTC,1.15,1.0,15.0
8,5459,5b4373c7-72cf-4675-8af6-c5589497d392,2017-11-30 01:17:18 UTC,The course wasn’t what I expected,2017-11-19 22:02:09 UTC,1.10,1.0,1.0

#### This is a checkpoint of the first three stages of this project. Use some unittest and give some report.
# Next begaining can start from here

## Modelling................................................

## Evaluation................................................

## Deploy................................................