In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
import numpy as np
from geopy.geocoders import Nominatim
import plotly 
plotly.tools.set_credentials_file(username='haoran88', api_key='Dvsr2pAhI49jMnWPa6Vo')
import pandas as pd
import sklearn
from os import listdir
from src.data import EDA
import csv
from IPython.display import display
from time import time

# 'Data Understanding'

team archetype-survey-responses weekly-sentiment-survey-responses不要

#### 'Collect initial data'
    - EDA.check_data(data_file_name)

In [65]:
#Using the Relative Path is easy to reproduce the project 
Main_Data_Path = '../data/raw/Engagement of Cyber Serurity/dataset201819/'
data_file_name = sorted(listdir(Main_Data_Path))

In [66]:
num_times = 1
times_list = []
times_count = []
tmp_data = []
length_each = []
nameCount = []
just_count = 0

for i in range(len(data_file_name) + 1):
    
    if i >= len(data_file_name):
        times_list.append(tmp_data)
        nameCount.append('Times_'+str(num_times))
    else:
        if int(data_file_name[i][15]) != num_times:
            length_each.append(i - just_count)
            nameCount.append('Times_'+str(num_times))
            num_times += 1
            times_list.append(tmp_data)
            tmp_data = []
            just_count = i
        #print(num_times)
        tmp_data.append(data_file_name[i][17:-4])
        times_count.append('Times_'+str(num_times))
data_file = pd.DataFrame(times_list,index=nameCount)
display(data_file)

,0,1,2,3,4,5,6,7
Times_1,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,weekly-sentiment-survey-responses,None,None
Times_2,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,weekly-sentiment-survey-responses,None
Times_3,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Times_4,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Times_5,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Times_6,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Times_7,archetype-survey-responses,enrolments,leaving-survey-responses,question-response,step-activity,team-members,video-stats,weekly-sentiment-survey-responses
Times_8,enrolments,None,None,None,None,None,None,None

#### 有一些缺失，刚刚开始上课的前两次不够成熟，没有代表性，选择地三次开始的数据

##### 查看现有数据的大小 细节上 哪几个用哪几time的

In [ ]:
os.path.getsize

##### 单独查看某个数据，做出一些假设 看合不合适，然后使用单个文件进行查看

#### 'Load All Data'

In [72]:
tmp_dataframe_list = []
tmp_csv_list = []

for j in data_file_name:
    Each_file = Main_Data_Path + j
    
    with open(Each_file) as file:
        tmp_dataframe_list.append((str(j),pd.read_csv(file)))
        tmp_csv_list.append((str(j),csv.reader(file)))
Data_frame = dict(tmp_dataframe_list)
Data_csv = dict(tmp_csv_list)

#### Drop file
so we don't use data named : team-members,weekly-sentiment-survey-responses,archetype-survey-responses

#### Check the country

In [60]:
data.head()

,learner_id,enrolled_at,unenrolled_at,role,fully_participated_at,purchased_statement_at,gender,country,age_range,highest_education_level,employment_status,employment_area,detected_country
0,f0ebc6f6-0f25-407f-a528-834414186f59,2018-10-30 15:14:09 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB
1,0fa1c614-8a49-42a7-a02a-8b866076d552,2018-10-25 12:23:45 UTC,NaN,learner,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,GB

In [ ]:
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np
from time import sleep,ctime

data = pd.read_csv('../data/processed/' +'Detected_Country' + '_157' + '.csv')
lat = []
lon = []
count = 0
for i in data['Country']:
    print(count)
    print ("Start : %s" % ctime())
    count += 1
    print('Locate the Country' + i)
    geolocator = Nominatim(user_agent="asd")
    location = geolocator.geocode(str(i))
    lat.append(str(location.latitude))
    lon.append(str(location.longitude))
    sleep(60)
    print ("End : %s" % ctime())
    
locations = []
for i in range(len(lat)):
    locations.append((lat[i],lon[i]))
lcts = pd.DataFrame(locations)
lcts.to_csv('../data/external/Country-locations.csv')

#### Merge

In [81]:
startNum = 3
endNum = 7
type_file = 'enrolments'
first = True
outputPath = '../data/processed/' + 'Merged' + str(startNum) + '-' + str(endNum) + '_' + type_file + '.csv'
data_t = []
for i in range(startNum,endNum+1):
    print(i)
    timesName = '-' + str(t) + '_'
    fileName = '../data/raw/Engagement of Cyber Serurity/dataset201819/cyber-security' + timesName + type_file + '.csv'
    data = pd.read_csv(fileName)
    data_t.append(data)

mergedData = pd.concat(data_t)
mergedData.to_csv(outputPath)

3
4
5
6
7

In [19]:
merged_enrolment = pd.read_csv('../data/processed/Merged3-7_enrolments.csv' )
locs = pd.read_csv('../data/external/Country-locations.csv')
country_locs = pd.read_csv('../data/processed/Detected_Country_157.csv')
country_locs = np.array(country_locs)
country_locs = country_locs.tolist()
tmp = []
for i in country_locs:
    tmp.append(str(i[0]))
    
locs = np.array(locs)
locs = locs.tolist()
locations = []
for i in range(len(locs)):
    del locs[i][0]
    
for i in merged_enrolment['detected_country']:
    if i not in tmp:
        pass
    else:
        locations.append(locs[tmp.index(i)])

[48.856610100000005, 2.3514992]

In [27]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AIzaSyB2DKOMtZVdPBThMcJyWZhnyTvdrn_HuRo") # Your Google API key

# load a Numpy array of (latitude, longitude) pairs
#locations = gmaps.datasets.load_dataset("taxi_rides")
fig = gmaps.figure()
fig.add_layer(gmaps.symbol_layer(locations[1000:3000]))
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
print(locations[1:50])

[[48.856610100000005, 2.3514992], [39.3262345, -4.838064900000001], [22.3511148, 78.6677428], [8.0300284, -1.0800271000000001], [49.4871968, 31.2718321], [39.3262345, -4.838064900000001], [22.3511148, 78.6677428], [51.0834196, 10.4234469], [33.0955793, 44.174977500000004], [46.603353999999996, 1.8883334999999999], [46.603353999999996, 1.8883334999999999], [47.8028273, 13.057954916199], [49.4871968, 31.2718321], [51.0834196, 10.4234469], [22.3511148, 78.6677428], [61.0666922, -107.9917071], [12.44249325, 122.160395163807], [-1.3397668, -79.3666965], [-4.7993356, 114.56320320000002], [40.3936294, 47.787250799999995], [54.702354500000006, -3.2765752999999997], [44.153412100000004, 20.55144], [54.702354500000006, -3.2765752999999997], [39.7837304, -100.4458825], [54.702354500000006, -3.2765752999999997], [52.500169799999995, 5.7480820999999995], [22.3511148, 78.6677428], [39.7837304, -100.4458825], [42.6384261, 12.674297], [38.959759399999996, 34.9249653], [48.74115220000001, 19.4528646], [41.32373, 63.9528098], [54.702354500000006, -3.2765752999999997], [54.702354500000006, -3.2765752999999997], [52.865196, -7.9794599], [39.7837304, -100.4458825], [54.702354500000006, -3.2765752999999997], [54.702354500000006, -3.2765752999999997], [54.702354500000006, -3.2765752999999997], [-34.9964963, -64.9672817], [-34.9964963, -64.9672817], [38.959759399999996, 34.9249653], [22.3511148, 78.6677428], [26.254049300000002, 29.2675469], [52.500169799999995, 5.7480820999999995], [60.5000209, 9.099971499999999], [39.7837304, -100.4458825], [39.7837304, -100.4458825], [58.75237779999999, 25.3319078]]